body{
    background: url(./sea-1111483_1280.jpg) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items:center ;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.accordian{
    position: relative;
    width:400px;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 30px;
}

.accordian .heading{
    font-size:1.7rem;
    text-align: center;
}
.accordian .content-container{
    margin-left: 15px;
}
.accordian .content-container .question {
    font-size: 22px;
    margin-top: 10px;
    padding-bottom:5px ;
    border-bottom: 1px solid black;
}
.accordian .content-container .question::after{
    content: '+';
    position: absolute;
    right:25px;
}

.accordian .content-container .answer {
    margin-top:10px ;
    font-size: 18px;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}
.accordian .content-container.active .answer{
    height: 150px;
}
.accordian .content-container.active .question::after{
    content: '-';
    position: absolute;
    right:25px;
}



